// place your custom styles here
/* .vp-hero-mask {
    background-image: url("/assets/images/yuriali.jpg") !important;
} */

/* .vp-site-name {
    font-style: italic;
} */
body, html {
    // cursor的图片缩小到10px
    cursor: url('/cursor/pointer.cur'),
    auto !important;
}
 
/* a, */
img {
    cursor: url('/cursor/Button.cur'),
    auto !important;
}

/*a标签*/
a:hover {
    cursor: url('/cursor/link.cur'),
    auto;
}

input:hover{
    cursor: url('/cursor/text.cur'),
    auto;
}
/*按钮*/
button:hover {
    cursor: url("/cur/Button.cur"),
    auto;
}

/*i标签*/
i:hover {
    cursor: url("/cur/Hand.cur"),
    auto;
}

